<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <form>
                <div class="form-group">
                    <label for="">Enter email</label>
                    <input type="email" class="form-control colours" placeholder="Enter email" required>
                </div>

                <div class="form-group">
                    <label for="">Enter email</label>
                    <input type="email" class="form-control colours" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="">Enter email</label>
                    <input type="email" class="form-control colours" placeholder="Enter email" required>
                </div>

                <div class="form-group">
                    <label for="" class="colours">Password</label>
                    <input type="password" class="form-control colours" placeholder="Enter password" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <a routerLink=''>Signin</a>
            </form>
        </div>
    </div>
</div>
